*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imgMenu {
    width: 30px;
}

#menu {
    display: none;
}



body{
    background-color: beige;
}

p:hover{
    color: white;
}

.advertencia {
    background-color: tomato;
    padding: 10px;
    border: solid 1px black;
    border-radius: 5px;
}